* {
  color: black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.usersCards {
  width: 80%;
  margin: auto;
}

.userCard {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.userCard a {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.userCard img {
  width: 115px;
  border-radius: 10px;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  gap: 50%;
  width: 70%;
  height: 100px;
  align-items: start;
  background: #80808045;
  padding: 10px 20px;
  border-radius: 10px;
}

.userInfo p {
  padding-top: 34px;
}

.bio {
  width: 80%;
  margin: auto;
  border: 1px solid;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.postInfo {
  padding: 0;
}

.postCard {
  width: 80%;
  margin: auto;
  border: 1px solid;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.postCard a {
  display: flex;
  flex-direction: column;
}

.likesComments {
  display: flex;
  justify-content: end;
}

.container {
  width: 80%;
  margin: auto;
}

.btnSeeAll {
  display: flex;
  justify-content: center;
}

.btnSeeAll a {
  border: 1px solid black;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  padding: 10px;
}
